<view title="'DashBoard'" class="dashboard">
	<content has-header="true" padding="true">
		<div class="button-bar padding">
			<a href="#/tab/home" class=" button  ion-home"><br>Item 1</a>
			<a href="#/tab/highchart" class="button  ion-ios7-star"><br>Item 2</a>
			<a href="#/tab/item" class="button  ion-settings"><br>Item 3</a>
		</div>
		<div class="button-bar padding">
			<a href="#/tab/radio" class=" button  ion-gear-a"><br>Item 4</a>
			<a href="" class=" button  ion-ios7-cog"><br>Item 5</a>
			<a href="" class=" button  ion-android-add-contact"><br>Item 6</a>
		</div>
		<div class="button-bar padding">
			<a href="" class=" button ion-xbox"><br>Item 7</a>
			<a href="" class=" button  ion-alert-circled"><br>Item 8</a>
			<a href="" class=" button  ion-settings"><br>Item 9</a>
		</div>
		<div class="button-bar padding">
			<a href="" class=" button ion-alert"><br>Item 10</a>
			<a href="" class=" ion-upload button "><br>Item 11</a>
			<a href="" class=" ion-waterdrop button"><br>Item 12</a>
		</div>
		
	</content>
</view>
