.bar.bar-positive {
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	border-color:#a90329;
}
.loginButton {
	border-color:#8f0222!important;
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}
.dashboard{
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}
.warning{
	color: #8f0222;
}