.bar.bar-positive {
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	border-color:#a90329;
}
.button {
	border-color:#a90329!important;
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}