
<pane side-menu-content>
	<nav-bar animation="nav-title-slide-ios7" type="bar-positive" back-button-type="button-icon" back-button-icon="ion-arrow-left-c"></nav-bar>

	<nav-view animation="slide-left-right"></nav-view>
</pane>
<side-menu side="left">
	<div class="bar bar-header bar-dark">
		<h1 class="title">Menu</h1>
	</div>
</div>
<content has-header="true">
	<list>
	<item ng-click="goTo('highchart')">Chart</item>
	<item ng-click="goTo('Item1')">Items</item>
	</list>
</content>
</side-menu>
