<!DOCTYPE html>
<html ng-app="fcdsaApp">
  
  <head lang="en">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
    <title>Finch Mobile</title>    
    <link rel="stylesheet" href="./css/default-theme.css" type="text/css"/>
	<link rel="stylesheet" href="./css/mobile-nav.css">
	<link rel="stylesheet" href="./css/angular-carousel.min.css">
	<link rel="stylesheet" href="./css/ng-mobile-menu.min.css"/>
	<link rel="stylesheet" href="./css/iui.css">
	<link rel="stylesheet" href="./css/themes/topcoat/css/topcoat-mobile-light.min.css"/> 
  </head>
  
  <body ng-controller="MainCtrl">
	<div id="sp-nav">
		<div class="topcoat-list-container">
			<input ng-model="navItem" placeholder="Search Menu" class="searchInput"/>
			<span class="addIcon"></span>			
			<ul class="topcoat-list">
				<li class="topcoat-list__item" ng-repeat="item in navItems | filter:navItem">{{item.category}}<span ng-show="item.subcategory" ng-click="toggleSubMenu($event)" class="close"></span>
					<ul class="topcoat-list hidden">
						<li ng-repeat="subItem in item.subcategory" class="topcoat-list__item">{{subItem.subMenu}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<mobile-view id="sp-page"></mobile-view>
	<script src="../thirdparty/jquery-1.9.1.min.js"></script>
	<script src="../thirdparty/angular.min.js"></script>	
	<script src="../thirdparty/highcharts.js"></script>	
	<script src="../thirdparty/ng-mobile-menu.min.js"></script>
	<script src="../thirdparty/angular-carousel.js"></script>
	<script src="../thirdparty/angular-mobile.js"></script>
	<script src="../thirdparty/mobile-nav.min.js"></script>	
	<script src="./src/app.js"></script>
	<script src="../common/services/services.js"></script>
	<script src="../common/directives.js"></script>  
	<script src="../common/controllers.js"></script>
	<script src="../common/filters.js"></script>
  </body>
</html>
