<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center" yield-to="title">
		<span>Main Page</span>
	</div>

	<div class="btn-group pull-left">
		<div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
			<i class="fa fa-bars"></i> Menu
		</div>
	</div>

	<div class="btn-group pull-right" yield-to="navbarAction">
		<div class="btn btn-navbar">
			<i class="fa fa-plus"></i> New
		</div>
	</div>
</div>


<div class="navbar navbar-app navbar-absolute-bottom">
	<div class="btn-group justified">
		<a href="#/home" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
		<a href="#/scroll" class="btn btn-navbar btn-icon-only"><i class="fa fa-plus fa-navbar"></i></a>
		<a href="#/scroll" class="btn btn-navbar btn-icon-only"><i class="fa fa-user fa-navbar"></i></a>
		<a href="#/scroll" class="btn btn-navbar btn-icon-only"><i class="fa fa-upload fa-navbar"></i></a>
		<a href="#/scroll" class="btn btn-navbar btn-icon-only"><i class="fa fa-sitemap fa-navbar"></i></a>
	</div>
</div>