<view title="'Password recovery'" left-buttons="leftButtons" right-buttons="rightButtons" >
	<content has-header="true">
		<div class="list padding">
			<label class="item item-input">
				<input type="text" ng-model="username" required placeholder="Username">
			</label>
			<label class="item item-input">
				<input type="email" ng-model="email"   required placeholder="Email Address">
			</label>
			<button class="button button-block button-positive loginButton" ng-click="pwdreset(username, email)">Submit</button>				
		</div>		
		<div class="padding">
			
			<p class="warning text-center">{{msg}}</p>
		</div>

	</content>
</view>
