<view title="'Password recovery'" left-buttons="leftButtons" right-buttons="rightButtons" >
	<content has-header="true">
		<div class="list" >
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" ng-model="username" required>
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="password" ng-model="email" required>
			</label>
			<label class="item item-input">
				<span class="input-label">Security Question</span>
				<input type="password" ng-model="password" required>
			</label>
			<button class="button button-block button-positive loginButton" ng-click="">Submit</button>				
		</div>		
	</content>
</view>
